.CardList {
  display: flex;
  flex-direction: column;

  height: 100%;
  background-color: rgb(var(--bg-white));
  box-shadow: var(--box-shadow);
}

.sectionTitle {
  user-select: none;
}

.CardsContainer {
  flex-grow: 1;
  overflow: auto;
  scrollbar-gutter: stable both-edges;
}

.draggedOver {
  outline: 2px solid rgb(var(--accent-color));
}
